<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div *ngIf="error" class="alert alert-danger" role="alert">
          <i class="fas fa-lg fa-times-circle-o"></i>
          Error during registration
          <ul>
            <li *ngFor="let errorDescription of errores">{{errorDescription}}</li>
          </ul>
        </div>
        <div class="card mx-4">
          <div class="card-body p-4" [formGroup]="registro">
            <h1>Update password</h1>
            <p class="text-muted">Create your new password for your account</p>


            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-lock"></i>
                </span>
              </div>
              <input type="password" class="form-control" [ngClass]="{'is-invalid':isInvalid('oldPassword')}" formControlName="oldPassword"
                placeholder="Old password">
            </div>


            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-lock"></i>
                </span>
              </div>
              <input type="password" class="form-control" [ngClass]="{'is-invalid':isInvalid('password')}" formControlName="password" placeholder="Password">
            </div>

            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="icon-lock"></i>
                </span>
              </div>
              <input type="password" class="form-control" [ngClass]="{'is-invalid':isInvalid('confirmacionPassword')}" formControlName="confirmacionPassword"
                placeholder="Password confirmation">
            </div>

            <div>
              <p>Ooops, wrong place!
                <a href="#/home">Home</a>
              </p>
            </div>


          </div>
          <div class="card-footer p-4">
            <div class="row">
              <div class="col-12">
                <button type="button" (click)="registrar()" class="btn btn-block btn-success">Update password</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>