.leaderboard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__line {
    border-radius: 20px;

    & .card-body {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  &--1 {
    background-color: $warning;
    color: white;
    text-shadow: 4px 4px 11px rgba(150, 150, 150, 0.4);
  }

  &--2 {
    background-color: $success;
    color: white;
    text-shadow: 4px 4px 11px rgba(150, 150, 150, 0.4);
  }

  &--3 {
    background-color: $info;
    color: white;
    text-shadow: 4px 4px 11px rgba(150, 150, 150, 0.4);
  }

  &__puntos {
    font-size: 0.8rem;
  }

  &__nombre {
    font-weight: 600;
  }

  &__country {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @include phone {
      flex-direction: column;
    }
  }

  &__position {
    font-weight: 600;
    justify-self: end;
    @include phone {
      justify-self: center;
    }
  }
}
