table {
    background: white;
    .gold {
        color: gold;
    }
    .silver {
        color: silver;
    }
    .bronze {
        color: #AE6938;
    }
    tr:first-child,
    tr:nth-child(2),
    tr:nth-child(3) {
        background-color: #C8F7C5;
    }
}