<div class="animated fadeIn">
  <h1>Ranking</h1>

  <div class="input-prepend input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-search"></i>
      </span>
    </div>
    <input id="prependedInput" class="form-control" [ngModel]="filter" (ngModelChange)="onChange($event)" size="16" type="text"
      placeholder="Buscar">
    <!-- <span class="input-group-append">
      <button class="btn btn-info" type="button">Search</button>
    </span> -->
  </div>

  <hr/>

  <mat-spinner *ngIf="loading" style="margin:0 auto;" color="warn"></mat-spinner>
  <table *ngIf="!loading" class="table table-responsive-sm table-hover table-outline mb-0">
    <thead class="thead-light">
      <tr>
        <th class="text-center">Position</th>
        <th class="text-center">Points</th>
        <th class="text-center">Name</th>
        <th class="text-center">Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rank of ranking">
        <td class="text-center">
          <i [ngClass]="getCopa(rank)"></i> {{rank.ranking}}
        </td>
        <td class="text-center">
          {{rank.puntos}}
        </td>
        <td class="text-center">
          {{rank.nombre}}
        </td>
        <td class="text-center">
          {{rank.pais}}
        </td>
      </tr>
    </tbody>
  </table>

</div>
