<div class="animated fadeIn">


  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="option1" autocomplete="off"> Por Fase
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option2" autocomplete="off"> Por Fecha
    </label>
  </div>


  <div class="row">
    <tabset>
      <tab heading="{{grupo.nombre}}" [ngSwitch]="formato" *ngFor="let grupo of grupos">
        <div class="row" *ngSwitchCase="lista">
          <div class="long" *ngFor="let partido of grupo.partidos">
            <div class="card text-center">
              <div class="card-body">
                <div class="score">
                  <button class="btn btn-primary">Argentina</button>
                  <img src="https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-3/arg" /> 1 - 0
                  <img src="https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-3/isl" />
                  <button class="btn btn-primary">Islandia</button>
                </div>
                <div>Moscú</div>
                <div>14 de Junio - (18:00 UTC+3)</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngSwitchDefault>
          <div class="col-sm-6 col-md-4" *ngFor="let partido of grupo.partidos">
            <div class="card text-center">
              <!-- <div class="card-header">
                  Card title
                </div> -->
              <div class="card-body">
                <div class="score">
                  <img src="https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-3/arg" /> -
                  <img src="https://fsprdcdnpublic.azureedge.net/global-pictures/flags-fwc2018-3/isl" />
                </div>
                <div class="score"> 1 - 0 </div>
                <div>Moscú</div>
                <div>14 de Junio - (18:00 UTC+3)</div>
              </div>
              <div class="card-footer">
                <button class="btn btn-primary">Argentina</button>
                <button class="btn">Empate</button>
                <button class="btn">Islandia</button>
              </div>
            </div>
          </div>
          <!--/.col-->
        </div>
      </tab>
    </tabset>


    <!--/.col-->
  </div>
  <!--/.row-->
</div>
