<div class="animated fadeIn">
  <ngx-spinner bdOpacity=0.9 bdColor="#333" size="large" color="#fff" type="ball-atom"></ngx-spinner>

  <h1>Pronosticos</h1>

  <div class="row">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary" [ngClass]="{'active': isHoy()}">
        <input type="radio" name="options" id="option1" (click)="hoy()" autocomplete="off"> Hoy
      </label>
      <label class="btn btn-secondary" [ngClass]="{'active': isGrupo()}">
        <input type="radio" name="options" id="option2" (click)="grupo()" autocomplete="off"> Por Grupos
      </label>
      <label class="btn btn-secondary" [ngClass]="{'active': isFecha()}">
        <input type="radio" name="options" id="option3" (click)="fecha()" autocomplete="off"> Por Fecha
      </label>
      <label class="btn btn-secondary" [ngClass]="{'active': isFase()}">
        <input type="radio" name="options" id="option3" (click)="fase()" autocomplete="off"> Por Fase
      </label>
    </div>
  </div>


  <div class="row">
    <tabset class="animated fadeIn" *ngIf="isGrupo()">
      <tab class="animated fadeIn" heading="{{grupo.nombre}}" (select)="retrievePartidosPorGrupo(grupo.codigo)" *ngFor="let grupo of grupos">
        <div class="row">
          <div class="col-sm-6 col-md-4" *ngFor="let partido of partidos">
            <app-pronostico [partido]="partido"></app-pronostico>
          </div>
          <!--/.col-->
        </div>
      </tab>
    </tabset>


    <tabset class="animated fadeIn" *ngIf="isFase()">
      <tab class="animated fadeIn" heading="Fase: {{fase.nombre}}" (select)="retrievePartidosPorFase(fase)" *ngFor="let fase of fases">
        <div class="row">
          <div class="card-body" *ngIf="partidos.length == 0">
            <div >
              <i class="fa fa-times"></i> Todavia no hay partidos para esta fase</div>
          </div>
          <div class="col-sm-6 col-md-4" *ngFor="let partido of partidos">
            <app-pronostico [partido]="partido"></app-pronostico>
          </div>
          <!--/.col-->
        </div>
      </tab>
    </tabset>


    <tabset class="animated fadeIn" *ngIf="isFecha()">
      <tab class="animated fadeIn" heading="Fecha {{fecha}}" (select)="retrievePartidosPorFecha(fecha)" *ngFor="let fecha of fechas">
        <div class="row">
          <div class="col-sm-6 col-md-4" *ngFor="let partido of partidos">
            <app-pronostico [partido]="partido"></app-pronostico>
          </div>
          <!--/.col-->
        </div>
      </tab>
    </tabset>


    <tabset class="animated fadeIn" *ngIf="isHoy()">
      <tab class="animated fadeIn" heading="{{today |  date:'dd/MM/yyyy'}}" (select)="retrievePartidosPorFecha(today)">
        <div class="row">
          <div class="card-body" *ngIf="partidos.length == 0">
            <div >
              <i class="fa fa-times"></i> No se han encontrado partidos para este dia</div>
          </div>
          <div class="col-sm-6 col-md-4" *ngFor="let partido of partidos">
            <app-pronostico [partido]="partido"></app-pronostico>
          </div>
          <!--/.col-->
        </div>
      </tab>
    </tabset>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>