img{
    width: 40%;
}

.long{
    img{
        width: 10%;
    }
    
}

.tab-container{
    width: 100%;
}

.long{
    width: 100%;
}

.score{
    font-size: 25px;
    font-weight: 600;
}

.grupo_fase{
    font-size: 15px;
    font-weight: 600;
}