.countdown {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 0.8rem;
  &__item {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-family: "Quicksand";

    &--active {
      color: $danger;
    }
  }
}
