.forecast {
  &__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__matches {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    @include phone {
      grid-template-columns: 1fr;
    }

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.form-switch .form-check-input {
  margin-left: 1rem;
  margin-right: 1rem;
  float: none;
  background-color: $info;
  filter: brightness(90%);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");

  &:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  &:checked {
    background-color: $primary;
  }
}
