<div class="animated fadeIn">
  <h1>Explorar</h1>

  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-trophy"></i> Mundial Rusia 2018
          <span class="badge badge-success float-right">Registrado</span>
        </div>
        <div class="card-body">
          <img class="logo" src="http://4.bp.blogspot.com/-mI8c_hLez24/VP3-XTk8dPI/AAAAAAAAIkc/fpi6SFOhuTM/s1600/logo%2Bmundial%2Brussia%2B2018%2Bvector%2Bai%2B(Large).jpg"
          /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
          nisl ut aliquip ex ea commodo consequat.
        </div>
        <div class="card-footer">
          <button class="btn btn-success">Registrarse</button>
          <button class="btn btn-primary">Ir</button>
        </div>
      </div>

    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-trophy"></i> Copa Conmebol Libertadores
          <span class="badge badge-success float-right">Registrado</span>
        </div>
        <div class="card-body">
          <img class="logo" src="http://www.conmebol.com/sites/default/files/libertadores_rgb_onblk-2.png" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
          nisl ut aliquip ex ea commodo consequat.
        </div>
        <div class="card-footer">
          <button class="btn btn-success">Registrarse</button>
          <button class="btn btn-primary">Ir</button>
        </div>
      </div>

    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-trophy"></i> Superliga Argentina de Futbol 2018
          <span class="badge badge-success float-right">Registrado</span>
        </div>
        <div class="card-body">
          <img class="logo" src="http://cdn.foxsportsla.com/sites/foxsports-la/files/img/competition/shields-original/logo_superliga.png?ver=76ddaf8b-6b74-4d41-8577-29f99cf71f3d"
          /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
          magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
          nisl ut aliquip ex ea commodo consequat.
        </div>
        <div class="card-footer">
          <button class="btn btn-success">Registrarse</button>
          <button class="btn btn-primary">Ir</button>
        </div>
      </div>

    </div>

  </div>
</div>