.dashboard {
  &__people {
    &__container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;
    }

    &__number {
      font-family: $display-font-family;
      font-size: 2rem;
      color: $success;
    }
  }
}
