.home {
  &__content {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30rem;

    @include phonetablet {
      grid-template-columns: 1fr;
    }
  }

  &__information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
    @include phonetablet {
      grid-template-columns: 1fr;
    }
    gap: 1rem;

    &__left {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      & > * {
        flex: 1;
      }
    }

    &__card {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  &__leaderboard {
    & &__body {
      overflow: scroll;
    }
    & .card-footer {
      & a {
        color: white;
        text-decoration: none;
      }
      background-color: $primary;
    }
  }
}
