<div>

  <div>
    <button class="btn btn-success btn-nuevo" (click)="crearEquipo()">
      <i class="fa fa-plus-circle"></i> Crear nuevo equipo</button>
  </div>

  <div class="card">
    <div class="card-header">
      <i class="fa fa-user-circle"></i> Listado de equipos
    </div>
    <div class="card-body">

      <mat-spinner *ngIf="loading" style="margin:0 auto;" color="warn"></mat-spinner>
      <div *ngIf="!loading && equipos.length == 0">
        <i class="fa fa-times"></i> No se han encontrado equipos disponibles</div>
      <table *ngIf="!loading && equipos.length > 0" class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Logo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipo of equipos">
            <td>
              {{equipo.id}}
            </td>
            <td>
              {{equipo.codigo}}
            </td>
            <td>
              <div>{{equipo.nombre}}</div>
              <div class="small text-muted">
                <span>Eliminado: {{ equipo.deleted }}</span> | Creado el: {{equipo.creationDate}}
              </div>
            </td>
            <td>
              <img src="{{equipo.logo}}" />
            </td>
            <td>
              <button class="btn btn-warning" (click)="editarEquipo(equipo.id)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="openModal(template,equipo)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
  <ng-template #template>
    <div class="modal-body text-center">
      <p>Desea eliminar la equipo
        <b>{{nombre}}</b>?</p>
      <button type="button" class="btn btn-default" (click)="eliminarEquipo()">Si</button>
      <button type="button" class="btn btn-primary" (click)="closeModal()">No</button>
    </div>
  </ng-template>
</div>