.score {
    font-size: 25px;
    font-weight: 600;
}

.grupo_fase {
    font-size: 15px;
    font-weight: 600;
}

img {
    width: 40%;
}

.lugar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}