//$green-color: #00E640;
$green-color: green;
$red-color: #D91E18;
.score {
  font-size: 25px;
  font-weight: 600;
}

.grupo_fase {
  font-size: 15px;
  font-weight: 600;
}

.block {
  color: $red-color;
}

.success {
  background-color: $green-color;
  color: white;
}

.error {
  background-color: $red-color;
  color: white;
}

.card {}

img {
  width: 40%;
}

.bloqueado {
  filter: grayscale(100%);
}

.lugar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pronostico {
  font-size: 18px;
  font-weight: 600;
}
