<div class="animated fadeIn">
  <h1>Usuarios</h1>

  <div class="card">
    <div class="card-header">
      <i class="fa fa-user-circle"></i> Listado de usuarios
    </div>
    <div class="card-body">

      <div *ngIf="usuarios.length == 0"><i class="fa fa-times"></i> No se han encontrado usuarios registrados</div>
      <table *ngIf="usuarios.length > 0" class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
          <tr>
            <th class="text-center">
              <i class="icon-people"></i>
            </th>
            <th>User</th>
            <th class="text-center">Country</th>
            <th>Usage</th>
            <th>Activity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td class="text-center">
              {{usuario.id}}
            </td>
            <td>
              <div>{{usuario.nombre}} {{usuario.apellido}}</div>
              <div class="small text-muted">
                <span>Eliminado: {{ usuario.deleted }}</span> | Registrado el: {{usuario.creationDate | date: 'dd/MM/yyyy HH:mm:ss (O)'}}
              </div>
            </td>
            <td class="text-center">
              <div>{{usuario.pais.nombre}}</div>
            </td>
            <td>
             {{usuario.email}}
            </td>
            <td>
              <div class="small text-muted">Last login</div>
              <strong>10 sec ago</strong>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>