<div class="card">
  <div class="card-header">
    <strong *ngIf="!id">Nuevo Partido</strong>
    <strong *ngIf="id">Editar Equipo</strong>
  </div>
  <div class="card-body" [formGroup]="form">
    <div *ngIf="id" class="form-group">
      <label for="id">ID</label>
      <input disabled type="text" class="form-control" formControlName="id" id="id">
    </div>
    <div class="form-group">
      <label for="deleted">Local</label>
      <input type="text" class="form-control" formControlName="local" id="deleted">
    </div>
    <div class="form-group">
      <label for="vat">Visitante</label>
      <input type="text" class="form-control" formControlName="visitante" id="nombre">
    </div>
    <div class="form-group">
      <label for="vat">Dia</label>
      <input type="text" class="form-control" formControlName="dia" id="nombre">
    </div>
    <div class="form-group">
      <label for="vat">Lugar</label>
      <input type="text" class="form-control" formControlName="lugar" id="nombre">
    </div>
    <div class="form-group">
      <label for="vat">Fecha</label>
      <input type="text" class="form-control" formControlName="fecha" id="nombre">
    </div>
    <div class="form-group">
      <label for="codigo">Grupo</label>
      <input type="text" class="form-control" formControlName="grupo" id="codigo">
    </div>
    <div class="form-group">
      <label for="pais">Fase</label>
      <input type="text" class="form-control" formControlName="fase" id="pais">
    </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-success" (click)="guardar()">
      <i class="fa fa-dot-circle-o"></i> Guardar</button>
    <button type="reset" class="btn btn-sm btn-danger" (click)="cancelar()">
      <i class="fa fa-ban"></i> Cancelar</button>
  </div>
</div>