<div>
  <h1>Rules</h1>


  <div class="alert alert-dark" role="alert">
    <b>1.</b> To participate it is <b>necessary to be registered</b>.
  </div>
  <div class="alert alert-dark" role="alert">
    <b>2.</b> Only Red Hat associates from <b>Argentina</b>, <b>Brazil</b>, <b>Chile</b>, <b>Peru</b>, <b>Colombia/ CEACA</b> and <b>Mexico</b> can participate, using the corporate e-mail address.
  </div>
  <div class="alert alert-dark" role="alert">
    <b>3.</b> Participants may register any time during the World Cup and until the day before the final match. Points will be awarded only for the matches for which predictions were entered, and, in consequence: 0 (ZERO) points will be awarded for matches with no predictions entered.
  </div>
  <div class="alert alert-dark" role="alert">
    <b>4.</b> The World Cup consists of <b>64 matches</b>, of which: 48 are in the initial group stage, 8 in the round of 16, 4 in quarter-finals, 2 in semi-finals, 1 for 3rd place and 1 final match.
  </div>
  <div class="alert alert-dark" role="alert">
    <b>5.</b> Participants may enter predictions <b>until 15 minutes</b> before the matches start.
  </div>
  <div class="alert alert-dark" role="alert">
    <b>6.</b> For the predictions for the round of 16 on, the 90 minutes of the match plus the additional time, if any, and penalties will be taken into account.
  </div>
  <div class="alert alert-dark" role="alert">
    <b>7.</b> Scoring for each match in the group stage will be of <b>1 (ONE)</b> point per correct prediction (Local, Tie, Visitor).
  </div>
  <div class="alert alert-dark" role="alert">
    <b>8.</b> Scoring for each match in the round of 16 will be <b>2 (TWO)</b> points per correct prediction (Local, Tie, Visitor).
  </div>
  <div class="alert alert-dark" role="alert">
    <b>9.</b> Scoring for each match in quarter-finals will be of <b>3 (THREE)</b> points per correct predicition (Local, Tie, Visitor).
  </div>
  <div class="alert alert-dark" role="alert">
    <b>10.</b> Scoring for each match in semi-finals will be of <b>4 (four)</b> points per correct prediction (Local, Tie, Visitor).
  </div>
  <div class="alert alert-dark" role="alert">
    <b>11.</b> Scoring for the 3rd place match and the Final will be of <b>5 (FIVE)</b> points per correct prediction (Local, Tie, Visitor).
  </div>
  <div class="alert alert-dark" role="alert">
    <b>12.</b> There will be <b>one winner in each sub-region</b>: 1 (ONE) winner in Argentina, 1 (ONE) winner in Brazil, 1 (ONE) winner in Chile-Peru, 1 (ONE) winner in Colombia/CEACA and 1 (ONE) winner in Mexico.
  </div>
  <div class="alert alert-dark" role="alert">
    <b>13.</b> In the case of a tie in the first place of each sub-region, a <b>random drawing</b> will take place to determine the winner.
  </div>
</div>