<div>
  <h2>Rules</h2>

  <ol>
    <li>To participate it is necessary to be registered.</li>
    <li>Only Red Hat associates from Argentina, Brazil, Chile, Peru, Colombia/ CEACA and Mexico can participate, using the corporate e-mail address.</li>
    <li>Participants may register any time during the World Cup and until the day before the final match. Points will be awarded only for the matches for which predictions were entered, and, in consequence: 0 (ZERO) points will be awarded for matches with no predictions entered.</li>
    <li>The World Cup consists of 64 matches, of which: 48 are in the initial group stage, 8 in the round of 16, 4 in quarter-finals, 2 in semi-finals, 1 for 3rd place and 1 final match.</li>
    <li>Participants may enter predictions until 15 minutes before the matches start.</li>
    <li>For the predictions for the round of 16 on, the 90 minutes of the match plus the additional time, if any, and penalties will be taken into account.</li>
    <li>Scoring for each match in the group stage will be of 1 (ONE) point per correct prediction (Local, Tie, Visitor).</li>
    <li>Scoring for each match in the round of 16 will be 2 (TWO) points per correct prediction (Local, Tie, Visitor).</li>
    <li>Scoring for each match in quarter-finals will be of 3 (THREE) points per correct predicition (Local, Tie, Visitor).</li>
    <li>Scoring for each match in semi-finals will be of 4 (four) points per correct prediction (Local, Tie, Visitor).</li>
    <li>Scoring for the 3rd place match and the Final will be of 5 (FIVE) points per correct prediction (Local, Tie, Visitor).</li>
    <li>There will be one winner in each sub-region: 1 (ONE) winner in Argentina, 1 (ONE) winner in Brazil, 1 (ONE) winner in Chile-Peru, 1 (ONE) winner in Colombia/CEACA and 1 (ONE) winner in Mexico.</li>
    <li>In the case of a tie in the first place of each sub-region, a random drawing will take place to determine the winner.</li>
  </ol>
</div>