<div>
  <h2>Reglamento</h2>

  <ol>
    <li>Para poder participar es necesario estar registrado.</li>
    <li>Sólo podrán participar los empleados de Red Hat (FTE, Interns y asociados de Adecco) de Argentina, Chile, Perú, Colombia/
      CEACA y México utilizando el mail corporativo.</li>
    <li>Los participantes podrán registrarse en cualquier momento del torneo y hasta un día antes del partido final. Se sumarán
      puntos sólo por los partidos pronosticados y, en consecuencia, corresponderán 0 (CERO) puntos por los partidos no pronosticados.</li>
    <li>El torneo consta de 64 partidos: 48 partidos por la fase inicial de grupos, 8 por octavos de final, 4 por cuartos de
      final, 2 por semifinales, 1 partido por el tercer puesto y 1 partido final.</li>
    <li>Los participantes podrán pronosticar los partidos hasta 15 mintutos antes de que los mismos comiencen.</li>
    <li>En los pronósticos de los partidos de octavos de final en adelante se tendrán en cuenta los 90 minutos que dura el partido
      más el tiemp</li>
  </ol>
</div>